<div th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>DeskApp</title>
	<meta name="description" content="" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />
	<!-- Bootstrap core CSS -->

	<link href="../../../resources/css/font-awesome.min.css"
		rel="stylesheet" media="screen"
		th:href="@{/resources/css/font-awesome.min.css}" />
	<link href="../../../resources/css/bootstrap4.min.css" rel="stylesheet"
		media="screen" th:href="@{/resources/css/bootstrap4alpha.min.css}" />
	<link href="../../../resources/css/custstyle.css" rel="stylesheet"
		media="screen" th:href="@{/resources/css/custstyle.css}" />

	<script type="text/javascript"
		th:src="@{/resources/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/notify.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/tether4alpha.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/bootstrap4aplha.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/commonJs.js}"></script>
</div>

<div th:fragment="headMaterial">
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>DeskApp</title>
	<meta name="description" content="" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />

	<!-- Material Design fonts -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Bootstrap core CSS -->
	<link
		href="../../../resources/bootstrap-material-design-4.0.2/dist/bootstrap-material-design.min.css"
		rel="stylesheet" media="screen"
		th:href="@{/resources/bootstrap-material-design-4.0.2/dist/bootstrap-material-design.min.css}" />
	<link href="../../../resources/css/custstyle.css" rel="stylesheet"
		media="screen" th:href="@{/resources/css/custstyle.css}" />
	<script type="text/javascript"
		th:src="@{/resources/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/notify.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/tether4alpha.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/bootstrap-material-design-4.0.2/dist/bootstrap-material-design.iife.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/commonJs.js}"></script>
</div>

<div th:fragment="web">
	
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>DeskApp</title>
	<meta name="description" content="" />
	<!-- <link rel="apple-touch-icon" href="apple-touch-icon.png" /> -->

	<!-- Latest compiled and minified CSS -->
	<link href="../../../resources/css/font-awesome.min.css"
		rel="stylesheet" media="screen"
		th:href="@{/resources/css/font-awesome.min.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link href="../../../resources/css/webcuststyle.css" rel="stylesheet"
		media="screen" th:href="@{/resources/css/webcuststyle.css}" />

	<script type="text/javascript"
		th:src="@{/resources/js/jquery-3.3.1.min.js}"></script>
		
	<script type="text/javascript" th:src="@{/resources/js/notify.min.js}"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/resources/js/commonJs.js}"></script>
</div>
