<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<object th:include="fragments/header :: web" th:remove="tag" />
</head>
<body>
	<div class="wrapper">
		<object th:include="web/webcomponent :: header" th:remove="tag"></object>
	</div>


	<div class="wrapper">
		<div class="col-sm-10">
			<h1 th:text="${data.user.userName}"></h1>
		</div>
		<div class="col-sm-2 profile-base ">
			<div class="form-group profile-pic-position">
				<div id="userProfilePreview"
					class="userProfilePreview-img profile-pic"></div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="col-sm-3">
			<!--left col-->

			<ul class="list-group">
				<li class="list-group-item text-muted">Profile</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span>
					2.13.2014</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Last
							seen</strong></span> Yesterday</li>
			</ul>

			<ul class="list-group">
				<li class="list-group-item text-muted">Activity <i
					class="fa fa-dashboard fa-1x"></i></li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span>
					125</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span>
					13</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span>
					37</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span>
					78</li>
			</ul>
			
		</div>
		<!--/col-3-->
		<div class="col-sm-9">

			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#info" data-toggle="tab">Info</a></li>
				<li><a href="#profession" data-toggle="tab">Profession</a></li>
				<li><a href="#education" data-toggle="tab">Education</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="info">
					<hr>
					
					<div class="row">
						<div class="col-sm-4">
							<div class="row">
								<ul class="list-group">
									<li class="list-group-item text-muted">
										<i class="fa fa-user fa-1x"></i>
										<span th:text="${data.user['firstName'] +' '+ data.user['lastName']}"></span> 
									</li>
									<li class="list-group-item text-muted">
										<i class="fa fa-map-marker fa-1x"></i>
										<span th:text="${data.user['address']+', '+ data.user['pincode']}">RITESH SINGH</span> 
									</li>
									<li class="list-group-item text-muted" th:if="${data.user['mob'] != null}">
										<i class="fa fa-mobile fa-1x"></i>
										<span th:text="${data.user['mob']}">RITESH SINGH</span> 
									</li>
									<li class="list-group-item text-muted" th:if="${data.user['email'] != null}">
										<i class="fa fa-envelope fa-1x"></i>
										<span th:text="${data.user['email']}">RITESH SINGH</span> 
									</li>
									<li class="list-group-item text-muted" th:if="${data.user['stackoverflow'] != null}">
										<i class="fa fa-stack-overflow fa-1x"></i>
										<a target="_blank" th:href="${data.user['stackoverflow']}">Reach out on StackOverFlow</a> 
									</li>
									<li class="list-group-item text-muted" th:if="${data.user['linkedIn'] != null}">
										<i class="fa fa-linkedin fa-1x"></i>
										<a target="_blank" th:href="${data.user['linkedIn']}">Reach out on LinkedIn</a> 
									</li>
									<li class="list-group-item text-muted" th:if="${data.user['github'] != null}">
										<i class="fa fa-github fa-1x"></i>
										<a target="_blank" th:href="${data.user['github']}">Reach out on GitHub</a> 
									</li>
									<li class="list-group-item text-muted" th:if="${data.user['twitter'] != null}">
										<i class="fa fa-twitter fa-1x"></i>
										<a target="_blank" th:href="${data.user['twitter']}">Reach out on Twitter</a> 
									</li>
								</ul>										
							</div>
						</div>
						<div class="col-sm-8 para boi"></div>
					</div>
					<!-- TODO -->
					
				</div>
				<!--/tab-pane-->
				<div class="tab-pane" id="profession">
					<hr>
					<div class="container">
						<h1>messages works</h1>
						<!-- TODO -->
					</div>
				</div>
				<!--/tab-pane-->
				<div class="tab-pane" id="education">
					<hr>
					<div class="container">
						<h1>settings works</h1>
						<!-- TODO -->
					</div>
				</div>

			</div>
			<!--/tab-pane-->
		</div>
		<!--/tab-content-->

	</div>


	<object th:include="web/webcomponent :: footer" th:remove="tag"></object>
	<script type="text/javascript" th:src="@{/resources/js/web.js}"></script>

	<script th:inline="javascript">
/*<![CDATA[*/
    var baseIp = "192.168.1.58";

    var userData = /*[[${data.user}]]*/ 'smile.png';
    var dirLocation;
    
    if(userData.hashedUserImage == null){
    	userData.hashedUserImage = 'smile.png';
    }
    console.log(userData.hashedUserImage);
/*]]>*/
 
$("#userProfilePreview").css({
			"background-image": "url(http://"+baseIp+"/images/"+userData.userName+"/profile/"+userData.hashedUserImage+")" 
});

$(document).ready(function(){

	$("#cancelPicChange").on("click", function(){
		$("#userProfilePreview").css({
			"background-image": "url(http://"+baseIp+"/images/"+userData.userName+"/profile/"+userData.hashedUserImage+")"
		});
		$(".profile-pic-add-remove-btn").hide();
	});
	
	if(userData.about != null){
		var aboutPara = (userData.about).split(".");
		var htmlPara = "";
		$.each(aboutPara, function( index, value ) {
			htmlPara += "<p>"+ value + "</p>"; 
		});
		$(".boi").html(htmlPara);
	}else{
		$(".boi").html("<p></p>");
	}
});

</script>

</body>
</html>