<div th:fragment="header">
	<nav class="navbar header-hight navbar-default navbar-fixed-top">
		<div class="container-fluid header-content-padding-top">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header profile-base ">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand" href="#">Brand</a> -->
				<div class="form-group logo-pic-position">
					<img title="profile image" class="logo-pic " src="https://bootdey.com/img/Content/avatar/avatar1.png">		
				</div>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right right-padding-50x">
					<li><a href="#">Home</a></li>
					<li><a href="#">Article</a></li>
					<li><a href="#">Wiki</a></li>
					<li><a href="#">Forum</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</div>

<div th:fragment="footer">
	<footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
</div>