<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>

<object th:include="fragments/header :: head" th:remove="tag" />

<!-- <link rel="shortcut icon" type="image/icon"
	th:href="@{/resources/images/favicon.ico}"> -->
</head>
<body style="width: 90%;">
	<div class="row login-box">
		<div class="col-sm-6">
			<div id="loginBox" class="card text-center login-shadow">
				<div class="card-header">
					<div class="row">
						<div class="col-sm-6 text-left">
							Login
						</div>
						<div class="col-sm-6 text-right">
							<small class="text-muted">
							<a class="showForgotPassword" href="#">Forgot password?</a>
							</small>
						</div>
					</div>
				</div>
				<div class="card-block">
					<br/>
					<div class="row">
						<div class="col-sm-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								<input id="loginEmail" type="text" class="form-control" name="email" placeholder="Email">
							</div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-12">
							<div class="input-group">
							    <span class="input-group-addon"><i class="fa fa-key"></i></span>
							    <input id="loginPassword" type="password" class="form-control" name="password" placeholder="Password">
							  </div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-3">
							<button id="loginBtn" class="btn btn-success">Login</button>
						</div>
						<div class="col-sm-9 text-right">
							<small class="text-muted signup-text">
								<a class="showSignUp" href="#">Sign Up Here</a>
							</small>
						</div>
					</div>
				</div>
				<div class="card-footer text-right">
			      <small class="text-muted">copy right <i class="fa fa-copyright"></i> orange mantra</small>
			    </div>
			</div>
			<!-- Colse Login -->
			
			<div id="signUpBox" class="card text-center signup-shadow">
				<div class="card-header">
					<div class="row">
						<div class="col-sm-6 text-left">
							Sign Up
						</div>
					</div>
				</div>
				<div class="card-block">
					<div class="row">
						<div class="col-sm-12">
							<div class="input-group">
							    <span class="input-group-addon"><i class="fa fa-user"></i></span>
							    <input id="userNameSignUp" type="text" class="form-control" name="userName" placeholder="UserName">
						    </div>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-sm-12">
							<div class="input-group">
							    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							    <input id="emailSignUp" type="text" class="form-control" name="email" placeholder="Email">
						    </div>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-sm-12">
							<div class="input-group">
							    <span class="input-group-addon"><i class="fa fa-key"></i></span>
							    <input id="passwordSignUp" type="password" class="form-control" name="password" placeholder="Password">
							  </div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-3">
							<button id="signUpUser" class="btn btn-success">Sign Up</button>
						</div>
						<div class="col-sm-9 text-right">
							<small class="text-muted signup-text">
								<a class="showSignIn" href="#">Sign In Here</a>
							</small>
						</div>
					</div>
				</div>
				<div class="card-footer text-right">
			      <small class="text-muted">copy right <i class="fa fa-copyright"></i> orange mantra</small>
			    </div>
			</div>
			<!-- Close Signup -->
			
			<div id="forgotPasswordBox" class="card text-center forgotPassword-shadow">
				<div class="card-header">
					<div class="row">
						<div class="col-sm-6 text-left">
							Reset Password
						</div>
					</div>
				</div>
				<div class="card-block">
					<div class="row">
						<div class="col-sm-12">
							<div class="input-group">
							    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							    <input id="emailForgotPassword" type="text" class="form-control" name="email" placeholder="Email">
						    </div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-3">
							<div class="btn btn-success">Reset</div>
						</div>
						<div class="col-sm-9 text-right">
							<small class="text-muted signup-text">
								<a class="showSignIn" href="#">Sign In Here</a>
							</small>
						</div>
					</div>
				</div>
				<div class="card-footer text-right">
			      <small class="text-muted">copy right <i class="fa fa-copyright"></i> orange mantra</small>
			    </div>
			</div>
			<!-- Close Forgot Password -->
		</div>
	</div>
	<script type="text/javascript" th:src="@{/resources/js/auth.js}"></script>
</body>
</html>