<!-- 
===========================================
#  auther: RITESH SINGH                   #
#  Welcome App html                       #
#                                         #
===========================================
 -->
<!DOCTYPE div PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div th:replace="commonComponent :: commonCss"></div>
</head>
<body ng-app="homeApp" class="demo-layout-transparent " >
	<div class="container-fluid" ng-controller="SpaCtrl">
		<div class="row" role="header">
			<div class="col-sm-12" role="header-column">
				<div ui-view="header"></div>
			</div>
		</div>
		<div class="row" role="hero-panae">
			<div class="col-sm-12">
				
			</div>
		</div>
		<div class="row" role="page-body" style="position:relative;">
			<div ui-view="content"></div>
		</div>
		<div class="row" role="footer">
			<div class="col-sm-12"></div>
		</div>
	</div>
</body>
<div th:replace="commonComponent :: angulerMvc"></div>
<div th:replace="homeComponent :: angulerMvc"></div>
</html>